*{
	margin: 0;
	padding: 0;
	font-family:"Century Gothic";
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(restaurant.jpg);
	height: 80vh;
	background-size: cover;
	background-position: center;
	
}
	
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display:inline-block;
}
ul li a{
	text-decoration: none;
	color:#fff;
	padding: 5px 20px;
	border:1px solid transparent;
	transition: 0.6s ease;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
	
ul li a:hover{
	background-color: #fff;
	color: #000;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size:70px;
	
}
.card{
	width: 250px;
	height:280px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-size: cover;	
	transition: transform 0.5s;
}
.card1{	
	background-image: url(malay.jpg);
	margin-left: 200px;
}
.card1>h3{
	
	color:white;
}
.card2{	
	background-image: url(chinese.jpg);
}
.card2>h3{
	
	color:white;
}
.card3{	
	background-image: url(western.jpg);
}
.card3>h3{
	
	color:white;
}
.card4{	
	background-image: url(dessert.jpg);
	margin-left: 200px;
}
.card4>h3{
	
	color:white;
}
.card5{	
	background-image: url(cartoda.jpg);
	
}
.card4>h3{
	
	color:white;
}
.card:hover{
	transform: translateY(-10px);
}
a{
	text-decoration: none;
	color:#fff;
	padding: 5px 20px;
	border:1px solid transparent;
	transition: 0.6s ease;
}
.active a{
	background-color: #fff;
	color: #000;
}
a:hover{
	background-color: #fff;
	color: #000;
}
